<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>crawer</title>
	</head>
	<body>
		<a href="/sendo">
		<button>SENDO</button>
		</a>
		<a href="/lazada">
		<button>LAZADA</button>
	</a>
	</body>
</html>
